.main_menu {
    width: 68px;
    background-color: #0b1536;
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
}

.imageA {
    height: 48px;
    margin-bottom: 12px;
}

.imageB {
    height: 54px;
}

.imageC {
    height: 46px;
}

.imageD {
    height: 58px;
    margin-bottom: 0px;
}

.text {
    font-size: 10px;
    color: #D9D9DD;
    text-align: center;
}

#image1 {
    height: 31.11px;
    width: 28px;
}

#image2,
#image3,
#image4,
#image6,
#image7,
#image5 #image8 {
    width: 32px;
}